@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: rgb(245, 235, 226);
    --headers: rgb(51, 80, 109);

    --hover-header: rgb(239, 210, 173);

    --bg-table: rgb(248, 242, 236);

    --status-card-warning: rgb(252, 231, 209);
    --status-card-bad: rgb(246, 163, 146);
    --status-card-ok: rgb(105, 186, 184);

    --status-product-warning: rgb(246,208,155);
    --status-product-bad: rgb(226, 115, 105);
    --status-product-ok: rgb(96, 168, 135);
}

body {
min-height: 100vh;
background-color: var(--bg-main)
}